

#navbarScrollingDropdown{
        color: rgb(8, 8, 8);
        text-decoration: none;
}
.navbg{
        background-color: rgb(179, 78, 95) !important;
        
   
}
.tex{
      color: white !important;
}

.App-link {
  color: #61dafb;
}
.bttn{
        color: azure !important;
}
.nav-link {
        color: white !important;
        
    }
.nav-color{
        text-decoration: none;
        color: white;
        
}

.nav-link :hover{
        color: white !important;
    }
    .btn-outline-light{
        --bs-btn-hover-bg: #a12e68;
    }